/* Introduction Text */

h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 50px;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    background-color: #ddd;
}

/* Minor rps code */

#main-container {
    text-align: center;
    padding: 120px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    max-width: 960px;
    padding: 90px;
    background: #ddd;
}

/* My Footer */

footer {
    height: 40px;
    width: 100%;
    bottom: 0;
    padding: 30px 0;
    font-size: 14px;
    color: black;
    text-align: center;
    background: #ddd;
    position: absolute;
}